extends ../layouts/dish-board

block content

	.boardContainer

		if boardData
			ul(class=boardData.slug="1" ? "one slideContainer" : "two slideContainer")
				li.slide(data-slideId="1", style="background: url(#{boardData.slide1.mainImage[0].url})")
					.detail
						//- .category #{boardData.slide1.dishCategory}
						h1 #{boardData.slide1.title}
							if boardData.slide1.nutritional
								sup.nutritional #{boardData.slide1.nutritional}
						p #{boardData.slide1.dishDescription}
						ul
							li(class=boardData.slide1.ingredient1Icon[0]?"icon-present":"" style="color: #{boardData.slide1.ingredient1TextColor}")
								if boardData.slide1.ingredient1Icon[0]
									span.icon
										img(src=' #{boardData.slide1.ingredient1Icon[0].url} ')									
								| #{boardData.slide1.ingredient1}
							li(class=boardData.slide1.ingredient2Icon[0]?"icon-present":"" style="color: #{boardData.slide1.ingredient2TextColor}")
								if boardData.slide1.ingredient2Icon[0]
									span.icon
										img(src='#{boardData.slide1.ingredient2Icon[0].url}')									
								| #{boardData.slide1.ingredient2}
							li(class=boardData.slide1.ingredient3Icon[0]?"icon-present":"" style="color: #{boardData.slide1.ingredient3TextColor}")
								if boardData.slide1.ingredient3Icon[0]
									span.icon
										img(src='#{boardData.slide1.ingredient3Icon[0].url}')									
								| #{boardData.slide1.ingredient3}

				li.slide(data-slideId="2", style="background: url(#{boardData.slide2.mainImage[0].url})")
					.detail
						//- .category #{boardData.slide2.dishCategory}
						h1 #{boardData.slide2.title}
							if boardData.slide2.nutritional
								sup.nutritional #{boardData.slide2.nutritional}
						p #{boardData.slide2.dishDescription}
						ul
							li(class=boardData.slide2.ingredient1Icon[0]?"icon-present":"" style="color: #{boardData.slide2.ingredient1TextColor}")
								if boardData.slide2.ingredient1Icon[0]
									span.icon
										img(src='#{boardData.slide2.ingredient1Icon[0].url}')									
								| #{boardData.slide2.ingredient1}
							li(class=boardData.slide2.ingredient2Icon[0]?"icon-present":"" style="color: #{boardData.slide2.ingredient2TextColor}")
								if boardData.slide2.ingredient2Icon[0]
									span.icon
										img(src='#{boardData.slide2.ingredient2Icon[0].url}')									
								| #{boardData.slide2.ingredient2}
							li(class=boardData.slide2.ingredient3Icon[0]?"icon-present":"" style="color: #{boardData.slide2.ingredient3TextColor}")
								if boardData.slide2.ingredient3Icon[0]
									span.icon
										img(src='#{boardData.slide2.ingredient3Icon[0].url}')									
								| #{boardData.slide2.ingredient3}

				li.slide(data-slideId="3", style="background: url(#{boardData.slide3.mainImage[0].url})")
					.detail
						h1 #{boardData.slide3.title}
							if boardData.slide3.nutritional
								sup.nutritional #{boardData.slide3.nutritional}
						p #{boardData.slide3.dishDescription}
						ul
							li(class=boardData.slide3.ingredient1Icon[0]?"icon-present":"" style="color: #{boardData.slide3.ingredient1TextColor}")
								if boardData.slide3.ingredient1Icon[0]
									span.icon
										img(src='#{boardData.slide3.ingredient1Icon[0].url}')									
								| #{boardData.slide3.ingredient1}
							li(class=boardData.slide3.ingredient2Icon[0]?"icon-present":"" style="color: #{boardData.slide3.ingredient2TextColor}")
								if boardData.slide3.ingredient2Icon[0]
									span.icon
										img(src='#{boardData.slide3.ingredient2Icon[0].url}')									
								| #{boardData.slide3.ingredient2}
							li(class=boardData.slide3.ingredient3Icon[0]?"icon-present":"" style="color: #{boardData.slide3.ingredient3TextColor}")
								if boardData.slide3.ingredient3Icon[0]
									span.icon
										img(src='#{boardData.slide3.ingredient3Icon[0].url}')									
								| #{boardData.slide3.ingredient3}

				li.slide(data-slideId="4", style="background: url(#{boardData.slide4.mainImage[0].url})")
					.detail
						//- .category #{boardData.slide4.dishCategory}
						h1 #{boardData.slide4.title}
							if boardData.slide4.nutritional
								sup.nutritional #{boardData.slide4.nutritional}
						p #{boardData.slide4.dishDescription}
						ul
							li(class=boardData.slide4.ingredient1Icon[0]?"icon-present":"" style="color: #{boardData.slide4.ingredient1TextColor}")
								if boardData.slide4.ingredient1Icon[0]
									span.icon
										img(src='#{boardData.slide4.ingredient1Icon[0].url}')									
								| #{boardData.slide4.ingredient1}
							li(class=boardData.slide4.ingredient2Icon[0]?"icon-present":"" style="color: #{boardData.slide4.ingredient2TextColor}")
								if boardData.slide4.ingredient2Icon[0]
									span.icon
										img(src='#{boardData.slide4.ingredient2Icon[0].url}')									
								| #{boardData.slide4.ingredient2}
							li(class=boardData.slide4.ingredient3Icon[0]?"icon-present":"" style="color: #{boardData.slide4.ingredient3TextColor}")
								if boardData.slide4.ingredient3Icon[0]
									span.icon
										img(src='#{boardData.slide4.ingredient3Icon[0].url}')									
								| #{boardData.slide4.ingredient3}

				li.slide(data-slideId="5", style="background: url(#{boardData.slide5.mainImage[0].url})")
					.detail
						h1 #{boardData.slide5.title}
							if boardData.slide5.nutritional
								sup.nutritional #{boardData.slide5.nutritional}
						p #{boardData.slide5.dishDescription}
						ul
							li(class=boardData.slide5.ingredient1Icon[0]?"icon-present":"" style="color: #{boardData.slide5.ingredient1TextColor}")
								if boardData.slide5.ingredient1Icon[0]
									span.icon
										img(src='#{boardData.slide5.ingredient1Icon[0].url}')									
								| #{boardData.slide5.ingredient1}
							li(class=boardData.slide5.ingredient2Icon[0]?"icon-present":"" style="color: #{boardData.slide5.ingredient2TextColor}")
								if boardData.slide5.ingredient2Icon[0]
									span.icon
										img(src='#{boardData.slide5.ingredient2Icon[0].url}')									
								| #{boardData.slide5.ingredient2}
							li(class=boardData.slide5.ingredient3Icon[0]?"icon-present":"" style="color: #{boardData.slide5.ingredient3TextColor}")
								if boardData.slide5.ingredient3Icon[0]
									span.icon
										img(src='#{boardData.slide5.ingredient3Icon[0].url}')									
								| #{boardData.slide5.ingredient3}

				li.slide(data-slideId="6", style="background: url(#{boardData.slide6.mainImage[0].url})")
					.detail
						h1 #{boardData.slide6.title}
							if boardData.slide6.nutritional
								sup.nutritional #{boardData.slide6.nutritional}
						p #{boardData.slide6.dishDescription}
						ul
							li(class=boardData.slide6.ingredient1Icon[0]?"icon-present":"" style="color: #{boardData.slide6.ingredient1TextColor}")
								if boardData.slide6.ingredient1Icon[0]
									span.icon
										img(src='#{boardData.slide6.ingredient1Icon[0].url}')									
								| #{boardData.slide6.ingredient1}
							li(class=boardData.slide6.ingredient2Icon[0]?"icon-present":"" style="color: #{boardData.slide6.ingredient2TextColor}")
								if boardData.slide6.ingredient2Icon[0]
									span.icon
										img(src='#{boardData.slide6.ingredient2Icon[0].url}')									
								| #{boardData.slide6.ingredient2}
							li(class=boardData.slide6.ingredient3Icon[0]?"icon-present":"" style="color: #{boardData.slide6.ingredient3TextColor}")
								if boardData.slide6.ingredient3Icon[0]
									span.icon
										img(src='#{boardData.slide6.ingredient3Icon[0].url}')									
								| #{boardData.slide6.ingredient3}

				li.slide(data-slideId="7", style="background: url(#{boardData.slide1.mainImage[0].url})")
					.detail
						//- .category #{boardData.slide1.dishCategory}
						h1 #{boardData.slide1.title}
							if boardData.slide1.nutritional
								sup.nutritional #{boardData.slide1.nutritional}
						p #{boardData.slide1.dishDescription}
						ul
							li(class=boardData.slide1.ingredient1Icon[0]?"icon-present":"" style="color: #{boardData.slide1.ingredient1TextColor}")
								if boardData.slide1.ingredient1Icon[0]
									span.icon
										img(src='#{boardData.slide1.ingredient1Icon[0].url}')									
								| #{boardData.slide1.ingredient1}
							li(class=boardData.slide1.ingredient2Icon[0]?"icon-present":"" style="color: #{boardData.slide1.ingredient2TextColor}")
								if boardData.slide1.ingredient2Icon[0]
									span.icon
										img(src='#{boardData.slide1.ingredient2Icon[0].url}')									
								| #{boardData.slide1.ingredient2}
							li(class=boardData.slide1.ingredient3Icon[0]?"icon-present":"" style="color: #{boardData.slide1.ingredient3TextColor}")
								if boardData.slide1.ingredient3Icon[0]
									span.icon
										img(src='#{boardData.slide1.ingredient3Icon[0].url}')									
								| #{boardData.slide1.ingredient3}