include ../mixins/flash-messages

doctype html
html

	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title= title || 'Menu Boards'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

		//- Customise the stylesheet for your site by editing /public/styles/site.sass
		link(href="/styles/site.css", rel="stylesheet")

		//- Include template-specific stylesheets by extending the css block
		block css

		//- Add any other template-specific HEAD tags by extending the head block
		block head

	//- HTML BODY
	body(class= params.scaled == true ? "scaled" : "no-scale")

		//- The content block should contain the body of your template's content
		block content

		//- JAVASCRIPT

		//- jQuery 1.11.3 is included by default, and required by both Bootstrap
		//- and the KeystoneJS Content Editor. If you are not targeting IE8,
		//- you can upgrade to 2.1.4 (also bundled) for better performance.
		script(src='/js/jquery/jquery-2.1.4.min.js')
		script(src='/js/gsap/src/minified/TweenMax.min.js')
		script(src='/js/gsap/src/minified/TimelineMax.min.js')

		//- Add scripts that are globally required by your site here.
		script(src='/js/menuBoards.js')
		script.
			menuBoards.animateBoard();

		//- Include template-specific javascript files by extending the js block
		block js
