* {
  box-sizing: border-box;
}
.boardContainer {
  width: 1920px;
  height: 1080px;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
.slideContainer {
  width: auto;
  height: 1080px;
  position: absolute;
  left: 0;
  top: 0;
  // overflow: hidden;
  white-space: nowrap;
  > li {
    width: 1920px;
    height: 1080px;
    position: relative;
    float: left;
    background-size: cover;
    background-repeat: no-repeat !important;
    background-color: #fff !important;
    // box-shadow: 0 0 100px rgba(0,0,0,0.5);
  }
  .detail {
    background: rgba(255,255,255,0.8);
    height: 100%;
    position: absolute;
    width: 45%;
    right: 0;
    white-space: initial;
    // box-sizing: border-box;
    padding: 100px 90px 100px;
    .category {
      color: white;
      font-size: 36px;
      text-transform: uppercase;
      font-family: serif;
      font-weight: 600;
      letter-spacing: 0.9rem;
      padding-left: 6px;
    }
    h1 {
      color: #6ec829;
      font-size: 75px;
      line-height: 80px;
      text-transform: uppercase;
      margin: 0;
      font-weight: 700;
      width: 100%;
      overflow: hidden;
      white-space: initial;
      text-shadow: 0 0 80px rgba(255,255,255,0.6);
      position: relative;
      .nutritional {
        font-size: 45%;
        padding-left: 20px;
        top: -30px;
        position: relative;
        // top: 10px;
        // position: absolute;
      }
    }
    p {
      font-size: 40px;
      padding: 50px 0;
    }
    li {
      min-height: 80px;
      width: 100%;
      line-height: 80px;
      font-size: 43px;
      display: block;
      position: relative;
      margin: 0 0 40px;
      font-weight: 400;
      float: left;
      white-space: nowrap;
      // letter-spacing: -0.07rem;
      &.icon-present {
        padding-left: 110px;
      }
    }
    .icon {
      width: 80px;
      height: 80px;
      // border: 4px solid #666;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -40px;
    }
  }
}

body.scaled {
 width: 100%;
 height: 100%;
 overflow: hidden;
 background: #464646;
 .boardContainer {
  transform: scale(0.32) translate(-50%, -50%) rotate(0);
  transform-origin: left top;
  top: 50%;
  left: 50%;
  position: absolute;
 }
}